@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes bg-shift {
    100% {
        background-position: 50px 50px;
    }
}

body {
    /* Body Background Animation */
    animation: bg-shift 5s linear infinite;
    -webkit-animation: bg-shift 5s linear infinite;
    -moz-animation: bg-shift 5s linear infinite;
    -o-animation: bg-shift 5s linear infinite;
}